/* ********** Custom Properties ********** */
:root {
    --first-color: rgb(156, 155, 153);
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: "Raleway", sans-serif;
    --max-width: 1200px;
    --header-height: 3.8rem;
    /*--limites-color: rgb(237, 237, 237);
*/
    --pantalla-color: #333236;
    --footer-color: rgb(125, 125, 125);
    --limites-color: rgb(90, 87, 128);

  }





  /* ********** Reset ********** */
  html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
    
  }
  
  a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
    text-decoration: none;

  }
  
  a:hover {
    opacity: 0.75;
  }
  
  h1 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 2rem;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(132, 89, 89);
    
    
  }

  /*
  .imagen-1{
    position: relative;
    width: 300px;
    height: 300px;
   
   background-image: url("../assets/orbit.png");
  
  }*/
 

  h2 {
   
    text-align: center;
    
  }
  
  h3 {
    margin: 30px 0 10px 0;
    font-size: 1rem;
    text-align: center;
    padding: 0 20px;
    color: red;
  }
  
  h4 {
    margin: 30px 0 10px 0;
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    color: rgb(151, 2, 137);
    padding: 0 20px;
  }
  
  h5 {
    margin: 20px 0 10px 0;
    font-size: 0.85rem;
    text-align: center;
    color: #3f8d52;
  }
  
  h6 {
    margin: 20px 0;
    text-align: center;
    font-size: 0.8rem;
    color: #6d88f6;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    line-height: 1.6;
  }


  /* ********** Menu ********** */
  .menu-btn {
    outline: thin solid var(--footer-color);;
    border: 0;
    cursor: pointer;
    background-color: var(--limites-color);
    
    
   
  }
  
  .menu-btn svg {
    fill: var(--footer-color);
    
    
     
  }
  
  .menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
   
    background-color: var(--limites-color);
    
    opacity: 0;  /*solo se verá cuando sea activo*/
    pointer-events: none;
    transition: opacity 0.5s ease;
  }
  
  .menu.is-active {
    opacity: 0.9;
    pointer-events: auto;
  }
  
  .menu a {
    padding: 0.8rem;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgb(250, 133, 79);
  }
  
  .menu a:hover {
    color: red;
    background-color: var(--first-color);
  }
  
  @media screen and (min-width: 1024px) {
    .menu-btn {
      display: none;
    }
  
    .menu {
      position: static;
      width: auto; /*que el ancho se adapte al nª enlaces que tenga*/
      flex-direction: row;
      
      opacity: 1;
      pointer-events: auto;
    }
  
    .menu a {
      padding: 0 1rem;
      
    }
  
    .menu a:last-child { /*para igualar los paddings del último enlace
      con el del iz del logo*/
      padding-right: 0;
    }
  
    .menu a:hover {
      background-color: transparent;
    }
  }
  

/* ********** HeroImage ********** */
.hero-image {
    background-image: url("../assets/imagen-bio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    /*background-color: rgb(27, 32, 101);*/
    
    background-attachment: var(--hero-attachment);
  }
  
  .hero-image-opacity {
    width: 100%;
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-color: var(--hero-opacity-color);
  */
  }
  
  .hero-image-title {
    font-size: 7.5vw; /*que el texto se adapte al vw sin 
    usar  MQ (fluid design)*/
    color: var(--hero-text-color);
    
  }




  /*ESTILOS ESPECÍFICOS DEL SITIO*/


  .main-inicio{
   
    background-color: rgb(255, 222, 190);
    background-color: #a8a8c6;
  }


  .balance-ecuaciones{
    background-color: #fffdb7;
    padding-top: 40px;
  }
.balance-ecuaciones li{
  font-size: 0.75rem;
}

.body-index{
  background-color: var(--limites-color);

}


  .consulta{
    width: 200px;
    height: auto;
    text-align: center;
    margin: 40px;
    background-color: rgb(170, 246, 246);
    font-weight: bold;
    font-size: 0.9rem;
    padding: 8px 4px;
    color: red;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
  }


  .contactar{
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     background-color: rgb(50, 50, 84);
    color: red;
    font-weight: bold;
    background-color: var(--limites-color);
 
     height: 60px;
     width: 100%;
    /* border-radius: 4%;*/
     font-size: 0.8rem;
     margin: -60px 0 20px 0;
     margin-left: auto;
     margin-right: auto;
     position: sticky;
     top: 0px;
   z-index: 36;
     
  }

  .abajo{
    position: sticky;
    top: 100vh;
   margin: 0;
  }


  .compartir{
     position: fixed;
     bottom: 2vh;
     left: 43.5%;
    
     z-index: 999;
     width: 80px;
    
     animation: animation-scale 1.5s linear infinite;
  }

  .facebook{
    display: block;
  
    text-align: center;
    
   
    font-size: 0.7rem;
  }


  .compartir-en{
    color: red;
  }

  .facebook-color{
    color: #ffffff;
    font-weight: 450;
   
  }

  .compu{
    width: 300px;
    height: 200px;
    background-color: var(--pantalla-color);

  
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    transform: perspective(1000px) rotateY(50deg) rotateX(10deg);
    padding-top: 2%;
    box-shadow: inset rgb(183, 181, 181) 0.7rem 0.4rem 0 0, rgb(162, 162, 177) 0.3rem 0.3rem 0 0.3rem, -0.8rem .6rem 0.1rem 0.2rem rgb(167, 167, 166);

    
    animation: pantalla 1.5s ease-in-out infinite;
  }

  .contactar a{
    text-decoration: none;
    
  color: rgb(201, 201, 201);
  margin: 3px 0;
  font-size: 0.8rem;
  }

  dd{
    font-size: 0.7rem;
    margin-left: 0;
  }

  .footer {
    margin-bottom: var(--header-height); /*para que se vea en mobile y no 
    lo tape el header */
    height: 20px;

    
    text-align: center;
    color: rgb(208, 203, 203);
    background-color: var(--footer-color);
  }

  .footer small{
    font-size: 0.59rem;
    
  }

  .div-h1{
     /*background-color: #94c3ec;*/
   margin-bottom: 60px;
  }


  @keyframes animation-scale{
    0%{
      transform: scale(1);
    }
    25%{
      transform: scale(1.1);
    }
    50%{
      transform: scale(1);
    }
    75%{
      transform: scale(0.9);
    }
    100%{
      transform: scale(1);
    }
  }

  .flecha{
    width: 30px;
    height: 55px;
     margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
   
    background-color: yellow;
    clip-path: polygon(30% 0%,70% 0,70% 70%,100% 70%,50% 100%,0 70%,30% 70%);
   
  }


  .fondo-matematica{
    background-image: url("../assets/matem-imagen.png");
    background-size: 70%;
  

    
  }

.fondo-quimica{
  background-image: url("../assets/tapa-qgei.png");
  background-size: 60%;

  
  
}



.graciela{
  text-align: center;
  margin-top: 80px;
  font-size: 0.9rem;
}

.h2-las-razones{
  margin-top: 50px;
  font-size: 1.2rem;
  font-weight: bold;
}

  .animation-scale{
     animation: animation-scale 1s linear infinite;
  }



  .h1-invisible{
    background-color: var(--limites-color);
    position: absolute;
    color: var(--limites-color);
    width: 100%;
    height: 66vh;
    padding-bottom: 250px;
  }

  .header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    
    background-color: var(--limites-color);

  }
  
  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


/*FORMATO BÁSICO PARA IMÁGENES*/

.img-basica{
   
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 50vh;
  position: relative;

}

.img-basica>*{
  max-width: 100%;
  height: 100%;
  position: absolute;
}
 
/*--------------------*/


  .introduccion-al-sitio{
    width: 80%;
   
    margin-right: auto;
    margin-bottom: 130px;
    margin-top: 50px;
    
    height: auto;
    margin-left: auto;
    
  }

  .introduccion-al-sitio p{
       text-align: center;
       font-style: italic;
       color: #384a5b;
       font-size: 0.8rem;
   
  }




  /*---------LOGO-----------*/

  .logo{
    width: 80px;
    margin-top: -50px;
  }
  .logo a{
    display: block;
    
  }
  .compu-logo{
    width: 60px;
    height: 40px;
    background-color: var(--pantalla-color);

  margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    transform: perspective(1000px) rotateY(50deg) rotateX(10deg);
    padding-top: 2%;
    box-shadow: inset rgb(183, 181, 181) 0.05rem 0.05rem 0 0, rgb(162, 162, 177) 0.05rem 0.05rem 0 0.15rem, -0.4rem 0.25rem 0rem 0rem rgb(167, 167, 166);

    
    animation: pantalla 1.5s ease-in-out infinite;
  }

  
  .clases-logo{
    width: 40%;
    height: 20%;
    color: rgb(50, 255, 95);
    font-size: 50%;
    
    margin-left: 30%;
    margin-top: 7%;
    animation: tomoclasesonline 4s linear infinite;
   }

   
 .online-logo{
  width: 40%;
  height: 20%;
  color: rgb(202, 255, 251);
  font-size: 50%;
  margin-top: 8%;
  margin-left: 30%;
  animation: tomoclasesonline 3s linear infinite;
 }
   .tomo-logo{
    width: 40%;
    height: 20%;
    color: red;
    font-size: 50%;
    margin-top: 2%;
    margin-left: 30%;
    animation: tomoclasesonline 5s linear infinite;
   }
  


 /*LIBRO*/


 

@keyframes abrir-tapa{
  0%{
    transform-origin: 0 0;
     transform: perspective(2000px) rotateY(0deg);
  }
  100%{
   transform-origin: 0% 0%;
   transform: perspective(2000px) rotateY(-87deg);
}
     }


.abrir-tapa{
      animation: abrir-tapa 3s ease-in-out both;
      animation-play-state: paused;
    }
    
  
  
.acerca{
  margin-top: -150px;
  margin-bottom: 50px;
  padding: 50px 0;
   background-color: rgb(250, 133, 79);
}
  


  
.acerca-matematica{
  margin-top: -100px;
  padding: 50px 0;
   background-color: rgb(250, 133, 79);
}
 
.h2-centrado{
     width: 60%;
     margin-left: auto;
     margin-right: auto;
}
.acerca p{
  text-align: center;
  font-size: 1rem;
}

.acerca-matematica p{
  text-align: center;
  font-size: 1rem;
}


  
.acerca-quimica{
  margin-top: -120px;
  padding: 50px 0;
   background-color: rgb(250, 133, 79);
}

  
.acerca-quimica h2{
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}
.acerca-quimica p{
  text-align: center;
  font-size: 1rem;
  
}

  .btn-abrir-tapa{
   display: block;
 background-color: rgb(255, 255, 255, 0);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    
    color: rgb(60, 59, 59);
    padding: 5px;
    
    animation: animation-scale 3s linear infinite;
  } 

.seccion{
 font-style: italic;
  
  position: relative;
  top: 80px;
}


  @keyframes tomoclasesonline{

    0%{
      transform: translateX(0);
    }

    25%{
      transform: translateX(40%);
    }
    50%{
      transform: translateX(0);
    }
    75%{
      transform: translateX(-40%);
    }
    100%{
      transform: translateX(0);
    }

  }

  .clases{
    width: 40%;
    height: 20%;
    color: rgb(50, 255, 95);
    font-size: 150%;
    margin-top: 10%;
    margin-left: 30%;
    
    animation: tomoclasesonline 4s linear infinite;
   }



  li{
    font-size: 0.8rem;
    padding: 0 15px;
    font-weight: bold;
    color: rgb(156, 36, 36);
    list-style: none;
    
  }



  /*--------LIBRO (Las razones)--------*/


  


 .libro-container{

  
  position: relative;
  
  margin-top: -40px;
  width: 250px;
  height: 373px;
  border-radius: 3.7px 6.5px 6.5px 3.7px;
   
  margin-left: auto;
  margin-right: auto;
 border-radius: 4px 7px 7px 4px;
 
}

  .libro-fondo{
    background-color: #f9eccb;
    position: absolute;
    width: 250px;
    height: 373px;
    border-radius: 3.7px 6.5px 6.5px 3.7px;
    
    
    
    padding-left: 15px;
    box-shadow: 0.6rem 0.55rem 0.8rem 0.5rem rgb(75, 37, 26);
    
  }

  .capitulo li{
    color: rgb(0, 0, 0);
    display: block;
    width: 200px;
    height: 15px;
    margin-left: -30px;
   
    font-size: 0.7rem;
   
    margin: 0;
  }
  
  .capitulo a{
    text-decoration: none;
   
   
    font-size: 0.7rem;
   
  }

#razones-del-yo a{
 
 
  display: block;
  margin-left: 0;
  font-size: 0.7rem;
  
}
#razones-del-yo{

  text-align: left;
  margin-top: 5px;
  
}



#las-razones-del-amor a{
 

  display: block;
  margin-left: 0;
  font-size: 0.7rem;
  
}
#las-razones-del-amor{
  
  text-align: left;
  margin-top: 5px;
  
}



#razones-del-vivir a{
 
  display: block;
  margin-left: 0;
  font-size: 0.7rem;
  
}
#razones-del-vivir{

  text-align: left;
  margin-top: 5px;
  
}



#razones-del-despues a{
  
  display: block;
  margin-left: 0;
  font-size: 0.7rem;
  
}
#razones-del-despues{

  text-align: left;
  margin-top: 5px;
  
}



.libro-tapa{
  position: relative;
  z-index: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 373px;
  border-radius: 3.7px 6.5px 6.5px 3.7px;
  
  
}

  .libro-tapa-quimica{
    
    background-image: url("../assets/tapa-las-razones.png");
    background-size: 100%;
    background-repeat: no-repeat;
  
    position: relative;
    z-index: 1;
    background-color: #153fe7;
    width: 250px;
    height: 373px;
    border-radius: 3.7px 6.5px 6.5px 3.7px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
  }

  .razones-de{
   
    margin-top: 7px;
    
    text-align: left;
  }

  .razones-de a{
    font-size: 0.6rem;
    color: #000;
  }




/*-----------------------------*/

  .libro-tapa-quimica h1{
    font-size: 1rem;
    color: red;
    text-align: center;
   
  }

  

  .matematica-tapa{
    display: block;
    position: relative;
    z-index: 1;
    width: 140px;
    height: 250px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    padding: 0 10px;
    color: red;
    font-weight: bold;
    
    
   text-align: center;
    border-radius: 4px 7px 7px 4px;
    
  }
  
  
 .materias-container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;  

  
 }


 .marca-container{
  width: 100%;
  height: 80vh;
  background-color: var(--limites-color);

  margin-top: -100px;
  padding-top: 100px;
 }


 .online{
  width: 40%;
  height: 20%;
  color: rgb(202, 255, 251);
  font-size: 150%;
  margin-top: 10%;
  margin-left: 40%;
  animation: tomoclasesonline 3s linear infinite;
 }

  .sombra{
    box-shadow: 0.4rem 0.4rem 0.7rem 0.2rem rgb(75, 37, 26);
  
  }

 .tomo{
  width: 40%;
  height: 20%;
  color: red;
  font-size: 150%;
  margin-top: 2%;
  margin-left: 40%;
  animation: tomoclasesonline 5s linear infinite;
 }

 @media screen and (min-width: 430px){
    
.acerca{
  margin-top: 0px;
}

.acerca-matematica{
  margin-top: 50px;
}


.div-h1{
  height: 60vh;
  
}

.fondo-matematica{
  background-size: 120%;
}

.materias-container{
    width: 70%;
  }




 }



 @media screen and (min-width: 700px){
  

  
  .div-h1{
    height: 70vh;
    
  }
  
  .fondo-matematica{
    background-size: 100%;
  }

  .hero-image-opacity{
    min-height: 70vh;
  }  
  
  .materias-container{
    width: 50%;
  }
 }



  

    /*Media query versión desktop*/

    @media screen and (min-width: 1024px) {
       

      .compartir{
        top: 90vh;
        left: 90%;
      }

     .compu-logo{
      margin-bottom: -38px;
     }
  

      .footer {
        margin-bottom: 0; /*que el footer quede abajo de nuevo, ya que en
        desktop no está el header abajo*/
        position: sticky;
      height: 2rem;
      }
    
      .header {
        position: sticky; /*no tapa el sig elem, como sí lo hace fixed*/
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem;
        height: calc(var(--header-height) + 0.1rem);
        background-color: var(--limites-color);
      }
  
    


  
  .contactar{
    display: flex;
    flex-direction: column;
    text-align: center;
     background-color: var(--limites-color);
    color: red;
    z-index: 39;
     
     height: 60px;
     width: 100%;
    /* border-radius: 4%;*/
     font-size: 0.8rem;
     margin: -60px 0 20px 0;
     margin-left: auto;
     margin-right: auto;
    position: sticky;
    top: 3.7rem;
    height: 2.5rem;
  }


  .div-h1{
    height: 60vh;
    
  }
  
  .div-h1 h1{
    
    font-size: 4rem;
    padding-top: 200px;
  }
  
  .materias-container{
    width: 30%;
  }

  .menu a{
    font-size: 0.7rem;
  }
  }





  .mezclas{
    background-color: #a7a0c2;
    padding: 20px 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  
  }




    
.moto{
  background-image: url("../assets/moto.png");
  width: 330px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 210%;
  background-position: -130px -200px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  
}



p{
  font-size: 0.85rem;
  text-align: left;
  font-weight: bold;
  margin: 0;
  padding: 0 20px;
  text-align: left;
  margin-bottom: 10px;
}


.titulo{
  margin-top: 100px;
}

.quimica-tapa{
  display: block;
  background-image: url("../assets/tapa-qgei.png");
  background-size: contain;
 
  position: relative;
  z-index: 1;
  width: 140px;
  height: 250px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  padding: 0 10px;
  color: red;
  font-size: 0.75rem;
  font-weight: bold;
 text-align: center;
  border-radius: 4px 7px 7px 4px;
  
}



.carpeta{
  margin-top: 40%;
  font-size: 2rem;
}




@keyframes rotate{
  0% {
    transform: perspective(1000px) rotateY(0deg);
    }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}


.rotate{
  animation: rotate 10s linear infinite;
}


    
    


    .bg-celeste{
      background-color: #69b5f7;
    }

     .bg-gray{
      background-color: rgb(196, 195, 195);
     }

    .bg-green{
      background-color: rgb(148, 234, 148);
    }

    .bg-orangered{
      background-color: rgb(255, 182, 156);

    }

.bg-yellow{
  background-color: rgb(255, 255, 160);
}
.bg-white{
  background-color: white;
}

.center{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}


.list-style-none{
  list-style: none;
}
    .running{
      
      animation-play-state: running;
    }

/*----INTERIOR LIBRO--*/


.carrousel-paginas{               
  width: 250px; 
  height: 373px;
  margin-left: auto;
  margin-right: auto;  
 overflow-x: hidden;   
  display: flex;  
  position: absolute;
    
    border-radius: 4px 7px 7px 4px;


}


.carrousel-container{
  scroll-snap-type: x proximity; 
width: 100%;
overflow-y: hidden;
overflow-x: scroll;
display: grid; 
grid-template-columns: repeat(4, 100%);
}


.carrousel-slide{
  position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
scroll-snap-align: center;
}



.carrousel-slide:nth-child(odd){

  background-color: rgba(15, 15, 15, 0.4);
}

.carrousel-slide:nth-child(even){

  background-color: rgba(8, 0, 0, 0.5);
}    

@keyframes carousel-slide { 
  0% {
    transform: translateX(0%);
  }
  25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
       

  
  75% {
      transform: translateX(-300%);
      
    }
}

.carrousel-container .carrousel-slide{
  
 animation: carousel-slide 2s ease-in-out 1.5s;   
}

.carrousel-slide-content{
  text-align: center;
}




/*prueba Los ecos del viento*/


.capitulo{
  width: 250px;
  height: 373px;
  
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  
  position: relative;
  z-index: 1;
  
}

.carrousel-slide-content{
  background-color: #f9eccb;
}

.capitulo h3{
  width: 230px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 28px;
 
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(21, 21, 21);

}

.capitulo p{
  width: 230px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 0.7rem;
  color: rgb(60, 60, 59);

  margin-top: 0;
  margin-bottom: 0;
  
  padding: 0px 10px 0px 30px;
  text-indent: 5%;
}
  



.main-las-razones{
  background-color: rgb(156, 182, 173);
}

@keyframes nubes{
  0%{
      transform: translateX(500px);
  }

  100%{
      transform: translateX(-500px);
  }

}

.nube-superior{
  width: 100%;
  height: 200px;
  background-color: rgb(182, 178, 178);
  border-radius: 50%;
  box-shadow: 0.05rem 0.05rem 6rem 6rem rgb(182, 178, 178);
  position: absolute;
  z-index: 0;
  animation: nubes 10s linear 2s infinite;
}

.nube-2{
  width: 60%;
  height: 100px;
  background-color: rgb(151, 150, 150);
  box-shadow: 0.05rem 0.05rem 6rem 6rem rgb(151, 150, 150);
  position: absolute;
  z-index: 0;
  transform: translateX(500px);
  animation: nubes 7s linear 6s infinite;

}

